<md-button class="incidents-toggle" on-tap="toggleList()">
  <i class="icon ion-navicon"></i>
</md-button>

<!-- Incidents Side Nav -->
<md-sidenav class="incidents md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <!-- Incidents Header -->
  <md-toolbar class="incidents-header">
    <div class="list list-inset">
      <label class="incidents-search-box item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="searchValue" ng-model="searchValue" type="text" placeholder="Search">
        <i class="incidents-clear-search icon ion-close placeholder-icon" on-tap="closeList()"></i>
      </label>
    </div>
  </md-toolbar>

  <!-- Incidents Content -->
  <md-content class="incidents-content">
    <ion-list>
      <ion-item class="incidents-item item-remove-animate item-avatar item-icon-right" ng-repeat="incident in filteredIncidents = (incidents | filter:searchFilter) | orderBy : 'date' : reverse=true" type="item-text-wrap">
        <div class="incidents-item-content clearfix" on-tap="closeList()">
          <div class="incidents-item-type">
            <img ng-src="{{incident.icon}}" alt="incident type">
          </div>
          <div class="incidents-item-details">
            <h2>{{incident.area}}</h2>
            <p>{{incident.address}}</p>
            <p>{{incident.date}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </md-content>
</md-sidenav>
