<div class="modal">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <md-button class="button button-clear" on-tap="home.SettingsController.closeSettings()">
        Cancel
      </md-button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item item-toggle">
      Enable Location Services
      <label class="toggle">
        <input type="checkbox" ng-model="home.SettingsController.settings.enableLocationServices">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <div class="card">
      <div class="item item-divider">
        Types
      </div>
      <div class="item item-text-wrap">
        <ion-list class="list">
          <ion-item class="item item-checkbox" ng-repeat="type in home.SettingsController.preferredTypes">
            {{type.name}}
            <label class="checkbox">
              <input type="checkbox" ng-model="type.enabled">
            </label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Areas
      </div>
      <div class="item item-text-wrap">
        <ion-list class="list">
          <ion-item class="item item-checkbox" ng-repeat="area in home.SettingsController.preferredAreas">
            {{area.name}}
            <label class="checkbox">
              <input type="checkbox" ng-model="area.enabled">
            </label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <button class="button button-full button-positive" ng-click="home.SettingsController.saveSettings()">Save</button>
  </ion-content>
</div>
