<!-- Navbar -->
<ion-header-bar class="bar">
  <div class="buttons">
    <md-button class="button button-clear incidents-toggle" on-tap="IncidentController.toggleList()">
      <i class="icon ion-navicon"></i>
    </md-button>
  </div>
  <h1 class="title">Hi Mobility</h1>
  <div class="buttons">
    <md-button class="button button-clear settings-toggle" on-tap="SettingsController.toggleSettings()">
      <i class="icon ion-gear-a"></i>
    </md-button>
  </div>
</ion-header-bar>

<ion-content>
  <!-- Incidents Side Nav -->
  <md-sidenav class="incidents md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <!-- Incidents Header -->
    <md-toolbar class="incidents-header">
      <div class="list list-inset">
        <label class="incidents-search-box item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="searchValue" ng-model="searchValue" type="text" placeholder="Search">
          <i class="incidents-clear-search icon ion-close placeholder-icon" on-tap="IncidentController.closeList()"></i>
        </label>
      </div>
    </md-toolbar>

    <!-- Incidents Content -->
    <md-content class="incidents-content">
      <ion-list>
        <ion-item class="incidents-item item-remove-animate item-avatar item-icon-right" ng-repeat="incident in filteredIncidents = (incidents | filter:searchFilter) | orderBy : 'date' : reverse=true" type="item-text-wrap">
          <div class="incidents-item-content clearfix" on-tap="IncidentController.closeList()">
            <div class="incidents-item-type">
              <img ng-src="{{incident.icon}}" alt="incident type">
            </div>
            <div class="incidents-item-details">
              <h2>{{incident.area}}</h2>
              <p>{{incident.address}}</p>
              <p>{{incident.date}}</p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </md-content>
  </md-sidenav>


  <script id="settings-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Settings</h1>
        <div class="buttons">
          <md-button class="button button-clear" on-tap="SettingsController.closeSettings()">
            Cancel
          </md-button>
        </div>
      </ion-header-bar>
      <ion-content>
        <div class="item item-toggle">
          Enable Location Services
          <label class="toggle">
            <input type="checkbox" ng-model="SettingsController.settings.enableLocationServices">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

        <div class="card">
          <div class="item item-divider">
            Types
          </div>
          <div class="item item-text-wrap">
            <ion-list class="list">
              <ion-item class="item item-checkbox" ng-repeat="type in SettingsController.preferredTypes">
                {{type.name}}
                <label class="checkbox">
                  <input type="checkbox" ng-model="type.enabled">
                </label>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Areas
          </div>
          <div class="item item-text-wrap">
            <ion-list class="list">
              <ion-item class="item item-checkbox" ng-repeat="area in SettingsController.preferredAreas">
                {{area.name}}
                <label class="checkbox">
                  <input type="checkbox" ng-model="area.enabled">
                </label>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <button class="button button-full button-positive" ng-click="SettingsController.saveSettings()">Save</button>
      </ion-content>
    </div>
  </script>


  <!-- Map Area -->
  <leaflet id="map" defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>

</ion-content>

