<ion-view view-title="Incidents">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="incident in incidents" type="item-text-wrap" href="#/tab/incidents/{{incident.id}}">
        <img ng-src="{{incident.icon}}">
        <h2>{{incident.type}}</h2>
        <p>{{incident.address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(incident)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
