body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}


// INCIDENTS STYLES
.incidents-item {
  // background-color: tan;
  padding: 16px;
  cursor: pointer;
  .incidents-item-content {
    // background-color: orange;
    .incidents-item-type {
      // background-color: pink;
      float: left;
      width: 15%;
      img {
        // background-color: lightblue;
        width: 100%;
      }
    }
    .incidents-item-details {
      // background-color: yellow;
      padding-left: 16px;
      float: left;
      width: 85%;
      h2 {
        // background-color: lightgreen;
        margin: 0;
        margin-bottom: 8px;
      }
      p {
        // background-color: lightgreen;
        margin: 0;
        line-height: 1.5em;
        &:last-of-type {
          font-size: 0.7em;
          letter-spacing: 1px;
        }
      }
    }
  }
}
