@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|Muli:300,400");

$color-forest-green: #546D6D;


// __________________
//
// GENERAL STYLES
// __________________

body {
  height: auto;
  min-height: 100%;
}

.bar {
  background-color: $color-forest-green;
  border: none;
  h1.title {
    color: white;
  }
  .ion-navicon, .ion-gear-a {
    font-size: 25px;
    color: white;
  }
}

h1.header-title.title {
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}


// __________________
//
// INCIDENTS STYLES
// __________________

.incidents-toggle {
  margin-top: 350px;
}

.incidents {
  // background-color: pink;
  .incidents-header {
    background-color: $color-forest-green;
    .list.list-inset {
      margin: 10px;
    }
    label.incidents-search-box {
      // background-color: lightgreen;
      padding-right: 20px;
      i.incidents-clear-search {
        cursor: pointer;
      }
    }
  }
  .incidents-content {
    margin-top: 85px;
    .incidents-item-details {
      font-family: 'Muli', sans-serif;
      h2 {
        font-family: 'Muli', sans-serif;
      }
    }
  }
}

.incidents-item {
  // background-color: tan;
  padding: 16px;
  cursor: pointer;
  .incidents-item-content {
    // background-color: orange;
    .incidents-item-type {
      // background-color: pink;
      float: left;
      width: 15%;
      img {
        // background-color: lightblue;
        width: 100%;
      }
    }
    .incidents-item-details {
      // background-color: yellow;
      padding-left: 16px;
      float: left;
      width: 85%;
      h2 {
        // background-color: lightgreen;
        margin: 0;
        margin-bottom: 8px;
      }
      p {
        // background-color: lightgreen;
        margin: 0;
        line-height: 1.5em;
        &:last-of-type {
          font-size: 0.7em;
          letter-spacing: 1px;
        }
      }
    }
  }
}


// __________________
//
// SETTINGS STYLES
// __________________

.settings-header {
  background-color: $color-forest-green;
  .save-settings.button.button-clear {
    color: #FFFFFF;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.settings-divider-header {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.location-toggle, .settings-checkbox {
  font-family: 'Muli', sans-serif;
}
